<a href="https://colab.research.google.com/github/Mahmoudchebaane/projet-analyse/blob/main/Index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Dataset

In [ ]:
df=pd.read_csv("https://github.com/Mahmoudchebaane/projet-analyse/raw/main/Data/data.csv")

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.head(3)

In [ ]:
df.type

In [ ]:
print(df.head(2).to_markdown())

In [ ]:
df.describe()

In [ ]:
# Exploration de la variété par type
variety_by_type = df['type'].value_counts()
print("Variety by Type:")
print(variety_by_type)

In [ ]:
# Exploration de la variété par pays
variety_by_country = df['country'].value_counts()
print("\Variety by Country:")
print(variety_by_country)

In [ ]:
# Exploration de la variété par catégorie de contenu
variety_by_listed_in = df['listed_in'].value_counts()
print("\nVariety by Listed_in:")
print(variety_by_listed_in)

In [ ]:
# Exploration de la variété par type
variety_by_type = df['type'].value_counts().head(10)
plt.figure(figsize=(8, 6))
plt.bar(variety_by_type.index, variety_by_type.values)
plt.title('Variety by Type')
plt.xlabel('Type')
plt.ylabel('Count')
plt.show()

In [ ]:
# Exploration de la variété par pays
variety_by_country = df['country'].value_counts().head(10)
plt.figure(figsize=(12, 6))
variety_by_country.plot(kind='bar')
plt.title('Variety by Country (Top 10)')
plt.xlabel('Country')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Exploration de la variété par type
variety_by_type = df['type'].value_counts().head(10)
plt.figure(figsize=(8, 6))
plt.bar(variety_by_type.index, variety_by_type.values)
plt.title('Variety by Type')
plt.xlabel('Type')
plt.ylabel('Count')
plt.show()

In [ ]:
# Exploration de la variété par catégorie de contenu
variety_by_listed_in = df['listed_in'].value_counts().head(10)
plt.figure(figsize=(12, 6))
variety_by_listed_in.plot(kind='bar')
plt.title('Variety by Listed_in (Top 10)')
plt.xlabel('Listed_in')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()

In [ ]:
import pandas as pd
from wordcloud import WordCloud
from nltk.corpus import stopwords
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("data/data.csv")

In [ ]:
df.head(5)

In [ ]:
# Concatenate the descriptions into a single string
descriptions = " ".join(df['description'].dropna())

In [ ]:
df.description

In [ ]:
import nltk

In [ ]:
nltk.download()

In [ ]:
# Remove stopwords
stop_words = set(stopwords.words('english'))
filtered_descriptions = ' '.join([word for word in descriptions.split() if word.lower() not in stop_words])

In [ ]:
# Create the word cloud
wordcloud = WordCloud(stopwords=stop_words, background_color='white').generate(filtered_descriptions)

In [ ]:
# Display the word cloud
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()

In [ ]:
# Customizations for the word cloud
wordcloud = WordCloud(
    stopwords=stop_words,
    background_color='white',
    width=800,
    height=600,
    max_words=100,
    colormap='cool',
    prefer_horizontal=0.8,
    random_state=42
).generate(filtered_descriptions)

In [ ]:
# Display the word cloud
plt.figure(figsize=(10, 8))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure()

In [ ]:
movies = df[df['type'] == 'Movie']

In [ ]:
movies = movies.sort_values('release_year')

In [ ]:
cumulative_counts = range(1, len(movies) + 1)
cumulative_percentages = [count / len(movies) * 100 for count in cumulative_counts]

In [ ]:
plt.figure(figsize=(10, 6))
plt.plot(movies['release_year'], cumulative_percentages)
plt.title('Cumulative Distribution of Movies on Netflix')
plt.xlabel('Release Year')
plt.ylabel('Cumulative Percentage')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Print the DataFrame
print(durations_df)

In [ ]:
#type of variables

df.info()

In [ ]:
#checking for values NA
df.isna().sum().sort_values().to_frame(name = "NA")

In [ ]:
df.select_dtypes(include=['object']).describe().T

In [ ]:
#List_filter = ['Children & Family Movies','Documentaries','Stand-Up Comedy']

# Subset the DataFrame for type "Movie"
df_movies_only = df[(df['type'] == 'Movie')] #& (netflix_df_movies_only['listed_in'].isin(List_filter))]

# Select only the columns of interest
netflix_movies_col_subset = df_movies_only.iloc[:,[2,5,10,7,9]]

# drop string 'min' of the column duration and convert on float
netflix_movies_col_subset['duration'] = df_movies_only['duration'].str.replace('min','').astype(float)

# Print the first five rows of the new DataFrame
netflix_movies_col_subset.head(5)

In [ ]:
# Create a figure and increase the figure size
fig = plt.figure(figsize=(12,8))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
netflix_movies_col_subset.head(3)

In [ ]:
# Create a scatter plot of duration versus year
plt.scatter(x=netflix_movies_col_subset['date_added'], y=netflix_movies_col_subset['duration'])
plt.xlabel('Date added')
plt.ylabel('Duration')
plt.title('Duration vs. date added')
plt.show()

In [ ]:
 # Nombre total de series disponible en france entre 2013
 #Nombre total de serie disponible en Frace entre 2013
  df[df["type"] == "TV Series"][df["release year"] >= 2014]["title"].count())

In [ ]:
subset = df[['release_year', 'listed_in', 'rating']]

In [ ]:
current_year = pd.Timestamp.now().year
recent_subset = subset[subset['release_year'] >= current_year - 5]

In [ ]:
genre_counts = recent_subset['listed_in'].value_counts().head(10)
plt.figure(figsize=(10, 6))
genre_counts.plot(kind='bar')
plt.title('Genre Investment in Recent Years')
plt.xlabel('Genre')
plt.ylabel('Count')
plt.show()

In [ ]:
age_counts = recent_subset['rating'].value_counts().sort_index()
plt.figure(figsize=(10, 6))
age_counts.plot(kind='bar')
plt.title('Age Group Investment in Recent Years')
plt.xlabel('Age Group')
plt.ylabel('Count')
plt.show()

In [ ]:
# Filtration
tv_shows = df[df['type'] == 'TV Show']

# Triez les tv show par année
grouped_tv_shows = tv_shows.groupby('release_year').size().sort_values(ascending=False)
# Traçage
plt.figure(figsize=(10, 6))
grouped_tv_shows.plot(kind='bar')
plt.title('Distribution of TV Shows on Netflix')
plt.xlabel('Genre')
plt.ylabel('Count')
plt.xticks(rotation=45)
plt.show()